// comentários feitos por Fabio Daemon - proprios //

// evitar problema com codificação de caracteres nas variáveis e etc //

@charset "UTF-8";


// demonstração do conhecimento no @import apenas. Tendo como ponto negativo usá-lo e poder deixar o tempo de processamento da aplicação lento //
@import 'reset';


// Variáveis para ilustração do conhecimento do uso delas //
$cor-texto: #000000;
$sombra: #000000;
$cor-link: #000000;
$cor-link-hover: #ecf1f9;;
$cor-button: #000000;
$texto-branco: #ffffff;


// mixin para ilustração do conhecimento do componente do SASS. Por ser um arquivo pequeno de CSS não foi usado em todas as propriedades, porque apenas foi uma ilustração do uso delas na SPA em questão //

@mixin transform($efeito) {
  -webkit-transform: $efeito;
  -ms-transform: $efeito;
  transform: $efeito;
}

// este é apenas uma demonstração de conhecimento do placeholder, já que a folha de estilo é pequena para dispor de tantos placeholders. O objetivo é apenas colocar propriedades como display: block e qualquer outro componente sem precisar reescrever as mesmas propriedades //

%padrao {

    display: block;

}

body{
    
    padding: 70px;
    margin-top: 40px;
}

p{ 
    font-size: 20px;
}

header{
    
    height: 40%;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    
    td{
        border: 2px solid $texto-branco;
        padding: 5px;
    }
    
    th{
        border: 2px solid $texto-branco;
        padding: 5px;
        text-align: left;
        background-color: #7a7a7a;
        font-weight:bold;
        text-transform: uppercase;
    }
    
   tbody td:nth-child(odd) {
       background: #eeeeee;
    }
    
   tbody td:nth-child(even) {
       background: $texto-branco;
    }
}

.pesquisa{
    
    width: 100%; 
    text-align: left; 
    background-color: #ecf1f9;
    height: 50px;
    margin: 0;
    padding: 15px;
    font-size: 15px;
    
}

#campo-pesquisa{color: $cor-texto;}

nav{
    
   @extend %padrao;
   float: left;
   height: 100%;
   width: 10%;
   overflow: auto;
   position: absolute;
    
}

section{
    
    @extend %padrao;
    margin-left: 12%;    
    padding: 5px;
    width: 70%;    
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $sombra;


.content{
        
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.close {
color: $texto-branco;
position: absolute;
top: 10px;
right: 25px;
font-size: 35px;
font-weight: bold;
}
        &:hover{
        color: $texto-branco;
        cursor: pointer;
            
        }
        
        &:focus{
        color: $texto-branco;
        cursor: pointer;
            
        }
    }

.link{
    
    color: $cor-link;
    cursor: pointer;
       
    
        &:hover{
            color: $cor-link-hover;
            cursor: pointer;  
            }
        
}

ul{
    
    list-style: none;
    
    li{
        margin-bottom: 5px;
        margin-top: 5px;
        margin-left: 10px;
    }
}

button{
  
  color: $texto-branco;
  background-color: $cor-button;
  font-size: 20px;  
  float: block;
  padding: 10px;
  height: 35px;  
  width: 40px;  
}